<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="КлассификаторОшибокSQLite" file="Классы/КлассификаторОшибокSQLite.os"/>
    <class name="КомандаОперацииБД" file="Классы/КомандаОперацииБД.os"/>
    <class name="КоординаторОперацийБД" file="Классы/КоординаторОперацийБД.os"/>
    <class name="НастройкиОтказоустойчивостиБД" file="Классы/НастройкиОтказоустойчивостиБД.os"/>
    <class name="ОбъектыВзаимодействияСБД" file="Классы/ОбъектыВзаимодействияСБД.os"/>
    <class name="ТранзакционныйДоступКБД" file="Классы/ТранзакционныйДоступКБД.os"/>
    <class name="УстойчивыйМенеджерСущностей" file="Классы/УстойчивыйМенеджерСущностей.os"/>
    <module name="РаботаСДаннымиБД" file="Модули/РаботаСДаннымиБД.os"/>
</package-def>
