<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="ВалидаторИмениПакета" file="Классы/ВалидаторИмениПакета.os"/>
    <class name="КлиентGitHubAPI" file="Классы/КлиентGitHubAPI.os"/>
    <class name="КомпонентыGitHubAPI" file="Классы/КомпонентыGitHubAPI.os"/>
    <class name="НакопленныеИспользованияПакета" file="Классы/НакопленныеИспользованияПакета.os"/>
    <class name="НастройкиОтказоустойчивостиGitHub" file="Классы/НастройкиОтказоустойчивостиGitHub.os"/>
    <class name="СтартерПриложения" file="Классы/СтартерПриложения.os"/>
    <class name="КлассификаторОшибокSQLite" file="Классы/БД/КлассификаторОшибокSQLite.os"/>
    <class name="КомандаОперацииБД" file="Классы/БД/КомандаОперацииБД.os"/>
    <class name="КоординаторОперацийБД" file="Классы/БД/КоординаторОперацийБД.os"/>
    <class name="НастройкиОтказоустойчивостиБД" file="Классы/БД/НастройкиОтказоустойчивостиБД.os"/>
    <class name="ОбъектыВзаимодействияСБД" file="Классы/БД/ОбъектыВзаимодействияСБД.os"/>
    <class name="ТранзакционныйДоступКБД" file="Классы/БД/ТранзакционныйДоступКБД.os"/>
    <class name="УстойчивыйМенеджерСущностей" file="Классы/БД/УстойчивыйМенеджерСущностей.os"/>
    <module name="РаботаСДаннымиБД" file="Модули/РаботаСДаннымиБД.os"/>
</package-def>
