<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="ВалидаторИмениПакета" file="Классы/ВалидаторИмениПакета.os"/>
    <class name="КлиентGitHubAPI" file="Классы/КлиентGitHubAPI.os"/>
    <class name="КомпонентыGitHubAPI" file="Классы/КомпонентыGitHubAPI.os"/>
    <class name="НакопленныеИспользованияПакета" file="Классы/НакопленныеИспользованияПакета.os"/>
    <class name="НастройкиОтказоустойчивостиGitHub" file="Классы/НастройкиОтказоустойчивостиGitHub.os"/>
    <class name="СтартерПриложения" file="Классы/СтартерПриложения.os"/>
</package-def>
